extends layout.pug

block content
  h1= "Books"
  p

    div.searchdiv
      a.button(href='/books/new')="Create New Book"
      form(action="/books/search", method="POST")    
        label(for='search')
        input(placeholder='Search by name...', type='text', name='search')
        button.button(type='submit' value='Search') Click to Search
        


  table
    tr
      th Title
      th Author
      th Genre
      th Year
      th Edit
            
    each book in books
      tr
        td= book.title
        td= book.author
        td= book.genre
        td= book.year
        td
          a.input(href=`/books/${book.id}/edit`) View/Edit
          
        
        include footer.pug
